#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	# Clean build artifacts using our Makefile's clean target
	$(MAKE) -C ../.. clean

override_dh_auto_build:
	# Build the application using our Makefile
	$(MAKE) -C ../.. all

override_dh_auto_install:
	# Install files to package directory using our Makefile
	$(MAKE) -C ../.. install DESTDIR=$$(pwd)/debian/netsnmp-enterprise

override_dh_install:
	# Additional installation steps
	dh_install
	
	if [ -d "debian/netsnmp-enterprise/usr/local/bin" ]; then
		mkdir -p debian/netsnmp-enterprise/usr/bin
		mv debian/netsnmp-enterprise/usr/local/bin/* debian/netsnmp-enterprise/usr/bin/
		rmdir debian/netsnmp-enterprise/usr/local/bin
	fi
	
	if [ -d "debian/netsnmp-enterprise/usr/local/share/man" ]; then
		mkdir -p debian/netsnmp-enterprise/usr/share/man/man1
		mv debian/netsnmp-enterprise/usr/local/share/man/man1/* debian/netsnmp-enterprise/usr/share/man/man1/
		rmdir debian/netsnmp-enterprise/usr/local/share/man/man1
		rmdir debian/netsnmp-enterprise/usr/local/share/man
		rmdir debian/netsnmp-enterprise/usr/local/share
		rmdir debian/netsnmp-enterprise/usr/local
	fi
override_dh_installdocs:
	# Install documentation
	dh_installdocs
	install -d debian/netsnmp-enterprise/usr/share/doc/netsnmp-enterprise
	install -m 644 ../../docs/INSTALL.md debian/netsnmp-enterprise/usr/share/doc/netsnmp-enterprise/
	install -m 644 ../../README.md debian/netsnmp-enterprise/usr/share/doc/netsnmp-enterprise/

override_dh_fixperms:
	# Fix permissions
	dh_fixperms
	chmod 755 debian/netsnmp-enterprise/usr/bin/netsnmp

override_dh_auto_test:
	# Run tests
	$(MAKE) -C ../.. test